*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.facebook-nav{
  background-color: white;
  height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.facebook-nav img{
  height: 100%;
  max-height: 40px;
}


.search{
  width: 100%;
  max-width: 250px;
  border-radius: 50px;
  border: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-left: 0.5rem;
  color: #080809;
  background-color: #f0f2f5;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  flex-direction: row;
  gap: 0.5rem;
 
}
.facebook-pages{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 40%;
  gap: 0.5rem;
  width: 100%;
  max-width: 310px;
  
  
}
.facebook-pages button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 100px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.facebook-pages button i{
  font-size: 1.2rem;
  
}
#home{
  color: #0866ff;
}

.facebook-icons{
  position: absolute;
  right: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  width: 100%;
  max-width: 160px;
  gap: 0.5rem;
  height: fit-content;
 
}
.facebook-icons button{
  border: none;
  border-radius: 30px;
  background-color: #e5e6e8;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size:0.9375rem ;
  font-weight: 600;
  color: #1c1c21;
}

.account{
width: 40px;
height: 40px;
background-color: #e5e6e8;
border-radius: 50px;
}

.facebook-container{
  background-color: #f0f2f5;
  height: fit-content;
  padding-bottom: 2rem;
  }

.facebook-container-grids{
 display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  column-gap: 2rem;
 padding-top: 1rem;
}

.facebook-container-grids .facebook-services{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
  width: 100%;
  max-width: 600px;
   padding-left: 1.5rem;
  
}


.facebook-container-grids .group-chats{
  display: flex;
  flex-direction: column;
  height: fit-content;
 max-width: 500px;
  width: 100%;
  align-items: flex-end;
}

.service1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
 
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  font-size: 0.9375rem;
  font-weight: 600;
}
.service1:hover{
  background-color: #e5e6e8;
}
.service1 .user-profile{
  width: 40px;
height: 40px;
background-color: #e5e6e8;
border-radius: 50px;

}
.facebook-container-grids .facebook-services button{
  width: 100%;
  max-width:350px ;
   padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border: none;
  display: flex;
  flex-direction: row;
  font-size: 0.9375rem;
  font-weight: 600;
  border-radius: 10px;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
}
.facebook-container-grids .facebook-services button:hover{
  background-color: #e5e6e8;
}

.facebook-container-grids .facebook-services button span{
   width: 40px;
height: 40px;
background-color: #e5e6e8;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.group-chats h3{
  font-weight: 600;
  color: #8e8e8e;
  margin-right: 15rem;
}
.group-chats button{
   width: 100%;
  max-width:350px ;
   padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
  border: none;
  display: flex;
  flex-direction: row;
  font-size: 0.9375rem;
  font-weight: 600;
  border-radius: 10px;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
}
.group-chats button:hover{
  background-color: #e5e6e8;
}
.group-chats button span{
width: 40px;
height: 40px;
background-color: #e5e6e8;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;

}
.user-profile{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile i{
  font-size: 1.5rem;
}
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.facebook-container-grids .facebook-posts{
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.facebook-posts .post1{
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
.post1 img{
  width: 45px;
  height: 45px;

}
.post1 a{
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.post1 p{
  color: #343434;
  
}

.post1 .x-mark{
  position: absolute;
  right: 2%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.post1 .x-mark i{
  font-size: 1.5rem;
  color: rgb(116, 116, 116);
}
.post2{
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 300;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
.post3{
display: flex;
justify-content: center;
background-color:rgb(67, 47, 12);
}
.post3 img{
  height: 100%;
  width: 100%;
  max-width: 500px;
  
}

.post4{
  display: flex;
  flex-direction: column;
  
}
.post4-a{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 padding-left: 0.5rem;
 padding-top: 0.5rem;
 padding-right: 0.5rem;
 padding-bottom: 0.5rem;

}
.post4-a-img{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.post4-a a{
  color: #080809;
  text-decoration: none;
}
.post4-b{
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.post4-b button{
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #4b4b4b;
  font-weight: 500;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 5px;
}
.post4-b button:hover{
  background-color: #e5e6e8;
}
.post4 hr{
  width: 100%;
  max-width: 680px;
 margin: 0 auto;
 border: none;
  height: 0.3px;
  background-color: #d2d2d2;
  margin-bottom: 0.2rem;
}
