.container{
  display: grid;
  background-color: #f0f2f5;
  height: 730px;
  width:100%;
  grid-template-columns: auto auto;
  column-gap:20px !important;
}
#head{
  display: none;
}
.container > div{
  margin-top: 130px;
}
.clearing{
  display: none;
}
.container5{
  display: none;
}

.container2{
  height: 360px;
  width:550px;
   background-color: #f0f2f5;
  margin-left: 460px;
  margin-top: 200px !important;
}
.container3{
  background-color: white;
  height: 370px;
  width:400px;
  margin-left: -400px;
  border-radius: 6px;
  box-shadow:  0 2px 4px rgba(28, 28, 28, 0.4);
}
.input1{
        margin-top: 10px;
        margin-left: 15px;
        width:370px;
        height:55px;
        border: 1px solid rgb(232, 229, 229);
        border-radius: 6px ;
        outline: none;
        transition: border 0.2s, box-shadow 0.2s;
        caret-color: #1877F2;
      }
      .input2{
          margin-top: 10px;
        margin-left: 15px;
        width:370px;
        height:55px;
         border: 1px solid rgb(232, 229, 229);
        border-radius: 6px ;
        display: none;
      }
      

      .input1:focus{
        border: 1px solid #1877F2;
        caret-color: #1877F2;
        box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2 );
      }
     .input1::placeholder{
      padding-left: 20px;
      font-size: larger;
      font-family: Arial, Helvetica, sans-serif;
      color:#90949c;
     
     }
     .button1{
     margin-top: 20px;
     margin-left: 15px;
     width:370px;
     height:50px;
     border: none;
     border-radius:6px ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #1877F2;
    font-size: larger;
     }
     .button1:hover{
      background-color: #3489f9;
     }
     #button2{
      margin-top: 15px;
      margin-left:110px;
     background-color: rgb(66, 183, 42);
     height: 45px;
     width: 200px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
     }
     #button2:hover{
      background-color: rgb(60, 167, 39);
     }
     #paragraph1:hover{
      text-decoration: underline;
     }
      #paragraph2{
      margin-top: 58px;
      margin-left:37px;
      font-family: Arial, Helvetica, sans-serif;
      font-size:15px;
     }
    
     #paragraph8{
      display: none;
     }
     #bold1:hover{
     text-decoration: underline;
     }
.footer{
      margin-top: 30px;
     margin-left: 475px;
     }
     .footer a {
      text-decoration: none;
      color:#8a8d91;
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
     
     }
     .footer a:hover{
      text-decoration: underline;
     }

     @media screen and (max-width:1440px) {
      
      .container2{
        margin-left: 200px !important;
      }
      .container3{
        margin-left: -200px;
      }
      
      .footer{
        margin-left: 230px;
      }
      #hr2{
      width:85%;
      }
      #head{
        display: none;
      }
     }

     @media screen and (max-width:767px) {

      .container{
        height: 700px !important;
        overflow-x:hidden ;
        background-color: white;
      }
      .clearing{
        display: block;
      }
      .container5{

      width: 100px;
      height: 50px;
        display: block;
        margin-top: 60px !important;
        margin-left:180px;
        
      }
     
      .container2{
        margin-left:0px !important; 
        margin-top: 100px !important;
        background-color: white;
        
      }
      .container2 img{
        width:150px !important;
        display: none;
      }
      #head{
        display: none;
      }
      #paragraph7{
        font-size: 10px !important;
        margin-top: -10px !important;
        padding-left: 14px !important;
        display: none;
        
      }
      .container3{
      
        height: auto !important;
        min-height:500px ;
       
        width:350px;
        margin-left: -515px;
        margin-top:50px !important ;
      }
      .container3{
        box-shadow: none;
      }
      .input1{
        height:45px;
        width: 300px;
        margin-left: 5px;
        margin-top: 8px;
      }

      #input3{
        display: none;
      }
      .input2{
        display: block;
        height:45px;
        width: 300px;
        margin-left: 5px;
        margin-top: 8px;
      }
      .input1::placeholder{
        padding-left: 6.5px;
        font-size: medium;
      }
      .input2::placeholder{
         padding-left: 6.5px;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        color: #90949c;
      }

      .input1:focus{
        border: 1px solid black !important;
        caret-color: black !important;
        box-shadow: none !important;
      }
      .input2:focus{
         border: 1px solid black ;
        caret-color: black;
        box-shadow: none;
        outline: none;
      }
      .button1{
        width: 300px;
        height: 40px;
        margin-top: 10px;
        margin-left: 5px;
        font-size: medium;
        font-weight: 100;
        border-radius: 25px !important;
      }
      #paragraph1{
        font-size: 15px !important;
        padding-left: 80px !important;
        padding-top: 0px !important;
        color: rgb(45, 45, 45) !important;
        
      }
      #hr1{
        margin-left: 11px !important;
        margin-top: 10px !important;
        display: none;
      }
      #button2{
        height: 40px;
        width: 300px;
        font-size: x-small;
        margin-left: 5px;
        margin-top: 100px;
        border-radius: 25px;
        background-color: transparent;
        border: 1px solid #1877F2;
        color: #1877F2;
        font-size: medium;
        font-weight: 100;
      }
      #paragraph2{
        font-size:7px;
        margin-top: 30px;
        margin-left: 10px;
        display: none;

      }
     
      #paragraph8{
        display: block;
        margin-left: 130px;
        font-weight:semi-bold;
        margin-top: 5px;
      }
      #paragraph8 img{
        height: 32px;
      }
      .footer{
        margin-left: 10px;
        margin-top: 10px;
       display: none;
      }
      .footer a{
       font-size:4px;
      
      }
      #btn{
        width: 20px !important;
        height: 15px;
      }
      .nbsp-space{
      display: none;
      }
      #btn{
        font-size: 10px !important;
        width: 20px !important;
      }
      #hr2{
        width: 90% !important;
        margin-top: 5px !important;
        margin-bottom: -5px !important;
      }
      #br1{
       
      }
      #paragraph4{
        font-size: 4px !important;
      }
      #br2{
        display: none;
      }
      .href1{
        
      }
      .container4{
        margin-top: -10px;
        margin-bottom: -10px;
      }
 #head{
  display: flex;
  font-size: 15px;
  font-weight: 100;
  align-items: center !important;
  justify-content: center;
 }
    
     }
     @media screen and (width:320px) {
      .container3{
        margin-left: -570px !important;
      }
      .container5 img{
        margin-left: -50px;
      }
      .input1{
        width: 280px;
      }
      .input2{
        width: 280px;
      }
      .button1{
        width: 285px;
      }
      #button2{
        width: 285px;
      }
     }

     @media screen and (width:344px) {
      .container3{
        margin-left: -560px;
       
      }
      .container5 img{
        margin-left: -40px;
        margin-top: 40px;
      }
      #button2{
        margin-top: 180px;
      }
      .input2{
        margin-top: 70px;
      }
     }
     @media screen and (width:375px) {
      .container3{
        margin-left:-550px ;
      }
      .container5 img{
        margin-left:-30px ;
      }

     }
     @media  screen and (min-width:768px) and (max-width:1024px) {
      .container2{
        margin-left: 10px !important;
      }
      #paragraph7{
        font-size: 23px !important;
      }
      .footer{
        margin-left: 28px;
      }
      #hr2{
        width: 98%;
      }
     }
     @media  screen and (width:820px) {
     .container{
      grid-template-columns: auto;
      row-gap: -100px !important;
     }
     .container2{
      height: 50px;
      margin-top: 50px !important;
      margin-left: 170px !important;
     }
     .container3{
      margin-left: 200px;
      margin-top: 20px !important;
     }
     .footer a{
      font-size: 9px;
     }
     }
     @media screen and (width:360px) {
      .container3{
        margin-left:-560px ;
      }
      .container5 img{
        margin-left: -40px;
      }
     }

     @media screen and (max-width:767px) and (orientation: landscape) {
      .input1{
        width:390px;
       
      }
      .input2{
        width: 390px;
      }
      .container3{
        margin-left: -570px;
      }
      .button1{
        width:400px;
      }
      #paragraph1{
      padding-left: 140px !important;
      }
      #button2{
        width: 400px;
        margin-top:60px;
      }
      .container5 img{
        margin-left: -0px !important;
      }
      #paragraph8 img{
        margin-left: 40px;
      }
     }

    

     @media screen and (max-width:1000px) and (orientation: landscape) {
      
 .container{
        height: 700px !important;
        overflow-x:hidden ;
        background-color: white;
      }
      .clearing{
        display: block;
      }
      .container5{

      width: 100px;
      height: 50px;
        display: block;
        margin-top: 60px !important;
        margin-left:180px;
        
      }
     
      .container2{
        margin-left:0px !important; 
        margin-top: 100px !important;
        background-color: white;
        
      }
      .container2 img{
        width:150px !important;
        display: none;
      }
      #head{
        display: none;
      }
      #paragraph7{
        font-size: 10px !important;
        margin-top: -10px !important;
        padding-left: 14px !important;
        display: none;
        
      }
      .container3{
      
        height: auto !important;
        min-height:500px ;
       
        width:350px;
        margin-left: -515px;
        margin-top:50px !important ;
      }
      .container3{
        box-shadow: none;
      }
      .input1{
        height:45px;
        width: 300px;
        margin-left: 5px;
        margin-top: 8px;
      }

      #input3{
        display: none;
      }
      .input2{
        display: block;
        height:45px;
        width: 300px;
        margin-left: 5px;
        margin-top: 8px;
      }
      .input1::placeholder{
        padding-left: 6.5px;
        font-size: medium;
      }
      .input2::placeholder{
         padding-left: 6.5px;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        color: #90949c;
      }

      .input1:focus{
        border: 1px solid black !important;
        caret-color: black !important;
        box-shadow: none !important;
      }
      .input2:focus{
         border: 1px solid black ;
        caret-color: black;
        box-shadow: none;
        outline: none;
      }
      .button1{
        width: 300px;
        height: 40px;
        margin-top: 10px;
        margin-left: 5px;
        font-size: medium;
        font-weight: 100;
        border-radius: 25px !important;
      }
      #paragraph1{
        font-size: 15px !important;
        padding-left: 80px !important;
        padding-top: 0px !important;
        color: rgb(45, 45, 45) !important;
        
      }
      #hr1{
        margin-left: 11px !important;
        margin-top: 10px !important;
        display: none;
      }
      #button2{
        height: 40px;
        width: 300px;
        font-size: x-small;
        margin-left: 5px;
        margin-top: 100px;
        border-radius: 25px;
        background-color: transparent;
        border: 1px solid #1877F2;
        color: #1877F2;
        font-size: medium;
        font-weight: 100;
      }
      #paragraph2{
        font-size:7px;
        margin-top: 30px;
        margin-left: 10px;
        display: none;

      }
     
      #paragraph8{
        display: block;
        margin-left: 130px;
        font-weight:semi-bold;
        margin-top: 5px;
      }
      #paragraph8 img{
        height: 32px;
      }
      .footer{
        margin-left: 10px;
        margin-top: 10px;
       display: none;
      }
      .footer a{
       font-size:4px;
      
      }
      #btn{
        width: 20px !important;
        height: 15px;
      }
      .nbsp-space{
      display: none;
      }
      #btn{
        font-size: 10px !important;
        width: 20px !important;
      }
      #hr2{
        width: 90% !important;
        margin-top: 5px !important;
        margin-bottom: -5px !important;
      }
      #br1{
       
      }
      #paragraph4{
        font-size: 4px !important;
      }
      #br2{
        display: none;
      }
      .href1{
        
      }
      .container4{
        margin-top: -10px;
        margin-bottom: -10px;
      }
 #head{
  display: flex;
  font-size: 15px;
  font-weight: 100;
  align-items: center !important;
  justify-content: center;
 }


     }

      @media  screen and (width:667px) and (orientation: landscape) {
      .input1{
      width: 600px !important;
      height: 60px;
      }
      .input2{
        width: 600px;
        height: 60px;
      }
      .container3{
        margin-left: -600px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 120px !important;
      }
      .button1{
        width: 610px;
        height: 53px;
      }
      #paragraph1{
        margin-left: 160px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 610px;
        margin-top: 20px;
        height: 53px;
      }
      #paragraph8 img{
        margin-left: 150px;
        margin-top: 0px !important;
      }
     }

      @media  screen and (width:896px) and (orientation: landscape) {
      .input1{
      width: 820px !important;
      height: 60px;
      }
      .input2{
        width: 820px;
        height: 60px;
      }
      .container3{
        margin-left: -700px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 240px !important;
      }
      .button1{
        width: 820px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 280px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 820px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 260px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:844px) and (orientation: landscape) {
      .input1{
      width: 810px !important;
      height: 60px;
      }
      .input2{
        width: 810px;
        height: 60px;
      }
      .container3{
        margin-left: -700px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 210px !important;
      }
      .button1{
        width: 820px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 280px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 820px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 260px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:932px) and (orientation: landscape) {
      .input1{
      width: 870px !important;
      height: 60px;
      }
      .input2{
        width: 870px;
        height: 60px;
      }
      .container3{
        margin-left: -720px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 240px !important;
      }
      .button1{
        width: 880px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 300px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 880px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 280px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:915px) and (orientation: landscape) {
      .input1{
      width: 860px !important;
      height: 60px;
      }
      .input2{
        width: 860px;
        height: 60px;
      }
      .container3{
        margin-left: -730px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 240px !important;
      }
      .button1{
        width: 870px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 300px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 870px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 280px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:740px) and (orientation: landscape) {
      .input1{
      width: 700px !important;
      height: 60px;
      }
      .input2{
        width: 700px;
        height: 60px;
      }
      .container3{
        margin-left: -650px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 155px !important;
      }
      .button1{
        width: 710px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 220px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 710px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 200px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:720px) and (orientation: landscape) {
      .input1{
      width: 680px !important;
      height: 60px;
      }
      .input2{
        width: 680px;
        height: 60px;
      }
      .container3{
        margin-left: -630px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 150px !important;
      }
      .button1{
        width: 690px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 200px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 690px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 180px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:540px)  {
      .input1{
      width: 500px !important;
      height: 60px;
      }
      .input2{
        width: 500px;
        height: 60px;
      }
      .container3{
        margin-left: -570px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 60px !important;
      }
      .button1{
        width: 510px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 120px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 510px;
        height: 55px;
        margin-top: 70px;
      }
      #paragraph8 img{
        margin-left: 100px;
        margin-top: 0px;
      }
     }

      @media  screen and (width:882px) and (orientation: landscape) {
      .input1{
      width: 820px !important;
      height: 60px;
      }
      .input2{
        width: 820px;
        height: 60px;
      }
      .container3{
        margin-left: -700px;
        margin-top: 10px !important;
      }
      .container5 img{
        margin-left: 240px !important;
      }
      .button1{
        width: 820px;
        height: 55px;
      }
      #paragraph1{
        margin-left: 280px !important ;
        white-space: nowrap;
      }
      #button2{
        width: 820px;
        height: 55px;
        margin-top: 30px;
      }
      #paragraph8 img{
        margin-left: 260px;
        margin-top: 0px;
      }
     }